

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" aria-describedby="table-title">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                {% for column in columns %}
                <th scope="col" class="px-6 py-3">
                    {{column}}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="bg-white dark:bg-gray-800">
                {% for k in row.keys() %}

                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{row.get(k)}}
                </th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
