<div id="file-info" tabindex="-1" aria-hidden="true"
    class=" overflow-y-auto bg-slate-800 opacity-90 overflow-x-hidden absolute top-0 right-0 left-0  z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

    <div class="relative p-4 w-full  max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="border-b p-4  border-gray-500 flex justify-between">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Information du fichier</h3>
                <button id="close-modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crypto-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div
                    class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 bg-white dark:bg-gray-900">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                        aria-describedby="table-title">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Nom
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Taille
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10" src="{{ file_info.image }}" alt={{file_info.filename}}>
                                    <div class="ps-3">
                                        <div class="text-base font-semibold">{{file_info.filename}}</div>
                                        <div class="font-normal text-gray-500"></div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    {{file_info.size}}
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        {{file_info.type}}
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="relative bg-white  shadow dark:bg-gray-700 mt-4">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            {% if columns and rows %}
                    Apercu du fichier
            {% else %}
                    Aucun apercu disponible
            {% endif %}
                </h3>
                
            </div>
            {% if columns and rows %}
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            {% for column in columns %}
                            <th scope="col" class="px-6 py-3">
                                {{column}}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if type_data == "list" %}
                                {% for row in rows[:5] %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    {% for k in row.keys() %}
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{row.get(k)}}
                                    </th>
                                    {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% else %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                            {% for k in rows.keys() %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{rows.get(k)}}
                            </th>
                            {% endfor %}
                            </tr>
                            {% endif %}

                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>

        <div class="relative bg-white  shadow dark:bg-gray-700 mt-4">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Autre format disponible pour ce fichier
                </h3>
                
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Selectionez un format pour transfomer le fichier</p>
                <ul class="my-4 space-x-3 flex gap-2 overflow-x-auto">
                    {% for ext in other_extention %}
                    <li>
                        <a 
                        {% if ext.format == "JSON" %}
                        href="{{json_download}}"

                        {% elif ext.format == "CSV" %}
                        href="{{csv_download}}"
                        {% else %}
                        
                        href="#"
                        
                        {% endif %}
                        
                        
                        class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                        download
                        >
                            <img class="w-10 h-10" src="{{ ext.image }}" alt={{file_info.filename}}>
                            <span class="flex-1 ms-3 whitespace-nowrap">{{ ext.format }}</span>
                            {% if ext.format == "JSON" %}
                            <span class="inline-flex items-center justify-center px-2 py-0.5 ms-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Recommanded</span>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>


    <script>
        $("#close-modal").on("click", function () {
            $("#file-info").addClass("hidden");
        })
    </script>
    